APScheduler
numpy
pandas
scikit-learn
tables
tzlocal
simplegeneric
Click
docker
prefect
bokeh
graphviz
docker
git+https://github.com/quetz-al/quetzal-client.git@v0.3.0#egg=quetzal-client
git+ssh://git@github.com/OpenMindInnovation/datascience_utils.git@01b4f57#egg=dsu
