numpy
scipy
pandas
tables
tzlocal
simplegeneric
Click
prefect
bokeh
graphviz
git+https://github.com/quetz-al/quetzal-client.git@v0.3.0#egg=quetzal-client
git+ssh://git@github.com/OpenMindInnovation/datascience_utils.git@01b4f57#egg=dsu
